.footer { 
    padding-block: 20px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--colour-primary);
    background: var(--footer-bg);
}

.footer__link { 
    color: var(--colour-primary);
}